.chat
  .main-header
    .main-header__left-box
      .main-header__left-box__name
        = @group.name
      .main-header__left-box__member
        members:
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "main-header__right-box__btn" do
      Edit
  .message-list
    = render @messages
    
  .message-form
    .message-form__new
      .message-form__new__box
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'message-form__new__box__text', placeholder: "type a message"
          = f.label :image, class: 'message-form__new__box__image' do
            =icon('fas', 'image')
            = f.file_field :image, class: 'message-form__new__box__file'
          = f.submit 'Send', class: 'message-form__new__btn'  
