.side-bar
  .header
    .header__box
      .header__box__user-name
        = current_user.name
      .header__box__icon
        .header__box__icon__btn
          = link_to new_group_path, class: "header__box__icon__btn__new" do
            = icon('far', 'far fa-edit')
          = link_to edit_user_path(current_user), class: "header__box__icon__btn__edit" do
            = icon('fas', 'fas fa-cog')
  .group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:'block' do
        %p.block__name
          = group.name
        %p.block__message
          = group.show_last_message